<ion-view title="Logitech Remote">
    <div>
        <div ng-include src="'templates/header_partial.html'"></div>
    </div>
    <ion-content class="has-header">
    <div class="list">
    
        <label class="item item-input item-select">
            <div class="input-label">
                Choose Room
            </div>
            <select>
                <option>Living Room</option>
                <option selected>Bedroom</option>
            </select>
        </label>
        
    </div>      
       
<div class="row">
  <div class="col">
      <div class="circle-icon">
          <i class="icon ion-android-microphone menu-microphone-icon" ></i>
          <h5 style="color:#fff;margin:0px;">TV</h5>
      </div>
      
  </div>
  <div class="col">
		<div class="circle-icon">
          <i class="icon ion-android-microphone menu-microphone-icon" ></i>
          <h5 style="color:#fff;margin:0px;">MOVIES</h5>
      	</div>
      
  </div>
  <div class="col">
		<div class="circle-icon">
        	<i class="icon ion-android-microphone menu-microphone-icon" ></i>
            <h5 style="color:#fff;margin:0px;">MUSIC</h5>
      	</div>
  </div>
  
</div>
                
  </ion-content>



</ion-view>
