<ion-view title="Logitech Remote">
    <div>
        <div ng-include src="'templates/header_partial.html'"></div>
    </div>
    <ion-content class="has-header">
<div class="row">
  <div class="col">
    <button class="button button-royal">
      button-royal
    </button>

  </div>
  <div class="col">
        <button class="button button-royal">
      button-royal
    </button>


  </div>
  <div class="col">
    
        <button class="button button-royal">
      button-royal
    </button>

  </div>
  
</div>
  </ion-content>



</ion-view>
