<ion-side-menus>
<!--http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/-->
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right" ></ion-nav-view>

    </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
        <h1 class="title" style="font-weight:bold;">IDAutomation</h1>
        
    </header>
    <ion-content class="has-header item-sidemenu">

        <div style="height:180px;background-color:#000;margin-top:1em;">
            <div ng-class="{'circle-icon': !idaRecording, 'circle-icon-active': idaRecording}" ng-click="idaRecording=!idaRecording">
                <i class="icon ion-android-microphone menu-microphone-icon" ></i>
            </div>
            <div class="row row-center" style="text-align:center;">
                <div class="col" style="border-right:1px solid #2e2e2e;">
                    <h6 style="color:#fff;font-size:30px;margin-bottom:0px;">23</h6>
                    <h7>Notifications</h7>
                    
                </div>
                <div class="col">
                    <h6 style="color:#fff;font-size:30px;margin-bottom:0px;">15</h6>
                    <h7>Timeline</h7>
                </div>
                
            </div>
        </div>


      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home" class="item-sidemenu">
          Home
        </ion-item>
        <ion-item nav-clear menu-close ng-click='goTo("control/logitech")' class="item-sidemenu">
          Logitech Remote
        </ion-item>
          <div class="item item-divider" style="background-color:#f0b840;color:#000;">
            Music
        </div>
        <ion-item nav-clear menu-close ng-click='goTo("music/search")' class="item-sidemenu">
          Search
        </ion-item>
        <ion-item nav-clear menu-close ng-click='goTo("music")' class="item-sidemenu">
          Local Server
        </ion-item>
        <ion-item nav-clear menu-close ng-click='goTo("music/radio")' class="item-sidemenu">
          Radio
        </ion-item>
        <ion-item nav-clear menu-close ng-click='goTo("music/apps")' class="item-sidemenu">
          Apps
        </ion-item>
        <div class="item item-divider" class="item-sidemenu" style="background-color:#f0b840;color:#000;">
            Video
        </div>
        <ion-item nav-clear menu-close ng-click='goTo("movies")' class="item-sidemenu">
          Movies
        </ion-item>
        <ion-item nav-clear menu-close ng-click='goTo("television")' class="item-sidemenu">
          Television
        </ion-item> 
        <div class="item item-divider" style="background-color:#f0b840;color:#000;">
            Environment
        </div>               

        <ion-item nav-clear menu-close href="#/app/thermostat" class="item-sidemenu">
          Thermostat
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/lights" class="item-sidemenu">
          Lights
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings" class="item-sidemenu">
          Settings
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <div ng-include src="rightMenuTemplate"></div>
 
</ion-side-menus>
<!-- 
<script id="new-task.html" type="text/ng-template">
      <div class="modal" ng-controller="ModalCtrl">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Search</h1>
          <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
        </header>
        
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="msc.filterName" autocorrect="off" focus-on="friendSearch">
            <i class=" clear-search icon ion-ios7-close-empty" style="font-size: 18px" ng-click="emptySearch()">
            </i>
        </label>
    </div>
        
        <ion-content has-header="true" has-subheader="true">
          <p>As user types in search bar, results get added here</p>
        </ion-content>
      </div>
    </script>
 -->