<ion-view title="Songs">
    <div>
        <div ng-include src="'templates/header_partial.html'"></div>
    </div>
    


    <ion-content class="has-header">
      
    <ion-list>

      <ion-item  ng-class="{'scroll-item' : song.title != 'Play All', 'headertext': song.title == 'Play All'}" class="item" ng-repeat="song in genrelist" ng-click="playSong('{{song.id}}','{{song.url}}')">
      <div ng-switch="song.title == 'Play All'">
        <span ng-switch-when="true">{{song.title}}</span>
        <span ng-switch-when="false">{{song.tracknum}} - {{song.title}}</span>
    </div>
    
        <ion-option-button class="button-energized" style="color:#000;" ng-click="addToPlaylist('{{song.url}}','{{song.id}}')">Add to Playlist</ion-option-button>
      
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData"></ion-infinite-scroll>
  </ion-content>






</ion-view>
